body {
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-family: "Verdana", sans-serif;
}

.col {
  padding: 3em;
}
.col .counter-number {
  line-height: 48px;
  font-size: 48px;
  font-weight: bold;
  color: #E1183E;
}
.col .counter-title {
  color: #424242;
}
.col .counter-title strong {
  display: block;
  font-size: 1.2rem;
}